.ui.fluid.card(postClass=val.class, postID=val.id, type='actor', actor_un = val.poster.username, actor_name = val.poster.profile.name, actor_pic = val.poster.profile.picture)
  .content
    .right.floated.time.meta= (user.createdAt.getTime() + val.time)
    a(href='/user/'+val.poster.username)     
      img.ui.avatar.image(src='/public/picture.svg', data-src=cdn+"/profile_pictures/"+val.poster.profile.picture)
      span.username(data-position= 'bottom center' data-username=val.poster.username data-picture=val.poster.profile.picture data-html='<div></div>')= val.poster.profile.name
  .content.dimmable(class=val.flagged ? "dimmed": "")
    .ui.dimmer.flag(class=val.flagged ? "active": "")
      .contents
        .center
          h2.ui.inverted.icon.header
            i.red.flag.icon
            | You've flagged this!
            h3.ui.inverted.header
                span="The admins will review this post further. We are sorry you had this experience."
          .ui.inverted.unflag.button(tabindex='0')
            i.flag.icon
            |  Unflag
    .img.post.image
      img(src='/public/picture.svg', data-src=cdn+"/post_pictures/"+val.picture, style="max-width:100%; width:100%;")
    .description=val.body
    .myTimer.hidden 0
  .ui.bottom.three.attached.icon.buttons
    .ui.reply.button(tabindex='0')
      i.reply.icon
      |  Reply
    .ui.flag.button(tabindex='0')
      i.flag.icon
      |  Flag
    .ui.labeled.button(tabindex='0')
      .ui.like.button(class=val.liked? "red": null)
        i.heart.icon
        |  Like
      a.ui.basic.red.left.pointing.label.count=val.likes
  if val.comments.length > 0
    .content
      .ui.comments
        each comment in val.comments
          //- Comment is user-made
          if comment.commentType == 'User'
            .comment(commentID=comment.id)
              a.avatar.image(href='/me')
                if comment.commentor.profile.picture
                    img(src='/user_avatar/'+comment.commentor.profile.picture)
                else
                  img(src=comment.commentor.gravatar(60))
              .content
                a.author(href='/me')=comment.commentor.profile.name || comment.commentor.username || comment.commentor.id
                .metadata
                  span.date=(user.createdAt.getTime() + comment.time)
                  .rating
                    i.heart.icon(class=comment.liked ? "red" : null)
                    span.num=comment.likes
                    |  Likes
                .text=comment.body
                .actions
                  a.like.comment(class=comment.liked ? "red" : null ) !{comment.liked ? "Unlike" : "Like"}
          //- Else this is a normal comment from the script
          else if comment.commentType == 'Actor'
            .comment(commentID=comment.id)
              .content(class=!comment.flagged ? "transition hidden" : "")                           
                .text(style="background-color: black; color: white; padding: 0.2em;")  You flagged this comment. The admins will review this comment further. We are sorry you had this experience.
                .actions 
                  a.unflag Unflag
              a.avatar(href='/user/'+comment.commentor.username, class=comment.flagged ? "transition hidden" : "")                  
                img(src='/public/picture.svg', data-src=cdn+"/profile_pictures/"+comment.commentor.profile.picture)
              .content(class=comment.flagged ? "transition hidden" : "")
                a.author.username(href='/user/'+comment.commentor.username data-username=comment.commentor.username data-picture=comment.commentor.profile.picture data-html='<div></div>')=comment.commentor.profile.name
                .metadata
                  span.date=(user.createdAt.getTime() + comment.time)
                  .rating
                    i.heart.icon(class=comment.liked ? "red" : null)
                    span.num=comment.likes
                    |  Likes
                .text=comment.body
                .actions
                  a.like.comment(class=comment.liked ? "red" : null ) !{comment.liked ? "Unlike" : "Like"}
                  a.flag.comment Flag
  .extra.content
    .ui.fluid.left.labeled.right.icon.input
      .ui.label
        if user.profile.picture
          img.ui.avatar.image.small(src='/user_avatar/'+user.profile.picture, name=user.profile.name || user.username || user.id)
        else
          img.ui.avatar.image.small(src=user.gravatar(60), name=user.profile.name || user.username || user.id)            
      .ui.form
        .field 
          textarea.newcomment(type='text', placeholder='Write a Comment' rows='1')
      i.big.send.link.icon